/*! 
 * Primitive UI | MIT License
 *
 * A minimalist front-end design toolkit built with Sass for developing 
 * responsive, browser-consistent web apps.
 *
 * Author: Tania Rascia <hello@taniarascia.com>
 * Source: https://github.com/taniarascia/primitive
 * Documentation: https://taniarascia.github.io/primitive
 */

//==============================================================================
// Configuration
//==============================================================================
@import './base/variables';
@import './base/mixins';
//==============================================================================
// Reset
//==============================================================================
@import './base/normalize';
@import './base/reset';
//==============================================================================
// Added Ones
//==============================================================================
@import './base/img';
@import './base/typography';
//==============================================================================
// Components
//==============================================================================
@import './components/scaffolding';
@import './components/grid';
@import './components/buttons';
@import './components/forms';
@import './components/navigation';
@import './components/layout';
@import './components/dropdown';
@import './components/input_group';
@import './components/link';
@import './components/modal';
@import './components/toast';
//==============================================================================
// Layout
//==============================================================================
@import './layout/nav_header';
@import './layout/footer';
//==============================================================================
// Utils
//==============================================================================
@import './utils/animation_transition';
@import './utils/border';
@import './utils/container';
@import './utils/flexbox';
@import './utils/grid';
@import './utils/margin_padding';
*,
::after,
::before {
    box-sizing: border-box!important;
}

@media screen AND (prefers-reduced-motion:no-preference) {
     :root {
        scroll-behavior: smooth
    }
}

html,
body {
    overflow-x: hidden;
    font-size: 1em;
}