.img-fluid {
    max-width: 100%;
    height: auto
}

.img-thumbnail {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto
}

.img-thumbnail-small {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: calc(4.75rem + 8.7vw);
    height: calc(4.75rem + 8.7vw);
    object-fit: cover;
}

.img-thumbnail-small>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}