.maru {
    font-family: 'MARU';
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 700;
    line-height: 1.1
}

.h1,
h1 {
    font-size: calc(1.375rem + 1.5vw)
}

.h2,
h2 {
    font-size: calc(1.325rem + .9vw)
}

.h3,
h3 {
    font-size: calc(1.3rem + .6vw)
}

.h4,
h4 {
    font-size: calc(1.275rem + .3vw)
}

.h5,
h5 {
    font-size: 1.25rem
}

.h6,
h6 {
    font-size: 1rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

b,
strong {
    font-weight: bolder
}

.small,
small {
    font-size: .875em
}

a {
    color: $bs-primary;
    text-decoration: none
}

a:hover {
    color: $bs-primary-hover;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300
}

.display-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.1
}

.display-2 {
    font-size: calc(1.575rem + 3.9vw);
    font-weight: 300;
    line-height: 1.1
}

.display-3 {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.1
}

.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 600;
    line-height: 1.1
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 500;
    line-height: 1.1
}

.display-6 {
    font-size: calc(1rem + 1vw);
    font-weight: 500;
    line-height: 1.1
}

.text-small {
    font-size: .875rem!important
}

.text-start {
    text-align: left!important
}

.text-end {
    text-align: right!important
}

.text-center {
    text-align: center!important
}

.text-decoration-none {
    text-decoration: none!important
}

.text-decoration-underline {
    text-decoration: underline!important
}

.text-uppercase {
    text-transform: uppercase!important
}

.text-wrap {
    white-space: normal!important
}

.text-nowrap {
    white-space: nowrap!important
}

.text-break {
    word-wrap: break-word!important;
    word-break: break-word!important
}

.text-danger {
    color: $bs-danger!important
}

.text-black-50 {
    color: $bs-black!important;
    opacity: .5;
}

.text-muted {
    color: #777!important
}