<!DOCTYPE html>
<html class="h-100" lang="fr">


	<head>
		<meta charset="UTF-8"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		{# <link rel="stylesheet" href="style.css"> #}
		<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<title>
			{% block title %}{% endblock %}
		</title>

	</head>

	<body class="h-100 d-flex justify-content-center"> {% block body %}{% endblock %}

		</body>

	</html>
