<!DOCTYPE html>
<html>
	<head class="h-100">
		<meta charset="UTF-8">
		<meta http-equiv="Content-Security-Policy" content="none"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}

		<title>
			{% block title %}{% endblock %}
		</title>

	</head>

	<body class="h-100 d-flex justify-content-center"> {% block body %}{% endblock %}

		</body>

	</html>
